*{
    margin: 0 !important;
    padding:0;
    box-sizing: border-box;
}


body{
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin: 0px; 
    width: auto;
}

#logo{
    height: 50px;
    width: 20px;
}


header{
    height: 60px;
    background: rgb(226,145,181);
    background: radial-gradient(circle, rgba(226,145,181,1) 0%, rgba(131,177,232,0.8872275472689075) 100%);
}





footer{
    background: rgb(226,145,181);
    background: radial-gradient(circle, rgba(226,145,181,1) 0%, rgba(131,177,232,0.8872275472689075) 100%); 
      
}

.nav-link{
    margin-left: 15px;
}

#texto{
 color: azure;
}




































@media (min-width: 576px) {  }


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }