* {
  margin: 0 !important;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0px;
  width: auto;
}

#card {
  background: #8db5e5 !important;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-top: 25px !important;
}
#card :hover {
  background: #e9b8cd;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
}

footer {
  background: rgb(226, 145, 181);
  background: radial-gradient(circle, rgb(226, 145, 181) 0%, rgba(131, 177, 232, 0.8872275473) 100%);
}