*{
    margin: 0 !important;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: $fuente;
    font-size: 16px;
    margin: 0px; 
    width: auto;

    header{
        height: 60px;
        background: map-get($map: $colores, $key: "rosa" );
        background: radial-gradient(circle, map-get($map: $colores, $key: "rosa" ) 0%, map-get($map: $colores, $key: "celeste" ) 100%);
    
        #logo{
            height: 50px;
            width: 20px;
    
            .nav-link{
                margin-left: 15px;
            }
        }
    }



}

#card{
    background: map-get($map: $colores, $key: "celeste" ) !important;
    transition: background-color 2s;
    margin-left: 10px !important;
    margin-right:10px !important;
    margin-top: 25px !important;

    & :hover{
        background: map-get($map: $colores, $key: "rosa" );
        transition: background-color 2s;
        
    }
}


footer{
    background: map-get($map: $colores, $key: "rosa" );
    background: radial-gradient(circle, map-get($map: $colores, $key: "rosa" ) 0%, map-get($map: $colores, $key: "celeste" ) 100%); 
      
}










   
   
