*{
    margin: 0 !important;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: $fuente;
    font-size: 16px;
    margin: 0px; 
    width: auto;
    



}

// Animacion

#card{
    background: map-get($map: $colores, $key: "celeste" ) !important;
    transition: background-color 2s;
    margin-left: 10px !important;
    margin-right:10px !important;
    margin-top: 25px !important;
      


    & :hover{
        background: map-get($map: $colores, $key: "rosa");
        transition: background-color 2s;
        
        }

}


footer{
    background: map-get($map: $colores, $key: "rosa" );
    background: radial-gradient(circle, map-get($map: $colores, $key: "rosa" ) 0%, map-get($map: $colores, $key: "celeste" ) 100%); 
  
      
}

@mixin borde {
   border: 3px;
   border-color: beige;
   border-radius: 5px;
}

img {
    @include borde()
}




   
   
